.categoryContainer {
    margin: 50px auto;

    .categoryColumn {

        .categoryBlock {
            position: relative;

            h3 {
                position: absolute;
                bottom: 20px;
                left: 10px;
                margin: 0;
                color: #fff;
            }

            img {
                width: 100%;
            }
        }
    }
}