@import "/assets/styles/modules/variables";

.collectionContainer {
    display: flex;
    background-color: $lightBlack;

    .collectionColumn {
        flex: 1 1 0;

        .content {
            position: relative;
            color: #fff;
            top: 50%;
            text-align: center;
            transform: translateY(-50%);
        }

        img {
            width: 100%;
        }
    }
}