@import "/assets/styles/modules/variables";

.collectionContainer {
    display: flex;
    margin: 40px 0;
    background-color: $lightBlack;

    .collectionColumn {
        flex: 1 1 0;
        display: inline-flex;

        .content {
            color: #fff;
            margin: auto;
            text-align: center;
        }

        img {
            width: 100%;
        }
    }
}