@import "assets/styles/modules/variables";

.mainSlider.slick-slider {
    box-sizing: content-box;

    .slide {
        outline: none;
    }

    .slick-dots {
        bottom: 30px;

        li {
            width: auto;
            height: auto;

            &.slick-active {
                button {
                    background-color: $black;
                    transition: background-color 0.3s;
                }
            }

            button {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: $fadedBlack;
                transition: background-color 0.3s;

                &:before {
                    font-size: 0;
                }
            }
        }
    }
}
