.miniCartBtn {
    display: flex;
    flex-grow: 1;
    align-items: center;

    .miniCartBtnContainer {
        width: 100%;
        text-align: right;

        .miniCartBtnIcon {
            cursor: pointer;
            border: none;
            background-color: transparent;

            svg {
                color: #fff;
            }
        }
    }
}