@import "/assets/styles/modules/variables";

.miniCart {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $lightBlack;

    .miniCartContainer {
        max-width: 800px;
        height: 100%;
        margin: auto;
        text-align: center;
        background-color: $lightGrey;

        .miniCartItems {
            margin: 0;
            height: 100%;
            padding: 0 20px;
            overflow-y: scroll;
            list-style-type: none;

            .miniCartItem {
                display: flex;
                text-align: left;

                img {
                    max-width: 100px;
                    margin: 0 20px 0 0;
                }

                .miniCartItemDescription {
                    display: inline-flex;
                    margin: auto;
                    flex-direction: column;
                    flex: 1;

                    h3 {
                        margin: 0;
                    }

                    span {
                    }
                }
            }
        }
    }
}