@import "/assets/styles/modules/variables";

html,
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.btn {
    color: #fff;
    display: table;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #fff;
    background-color: transparent;
    transition: all 0.3s;

    &:hover {
        color: $lightBlack;
        border: 1px solid $lightBlack;
        background-color: #fff;
        transition: all 0.3s;
    }
}

@import "assets/styles/partials/mainSlider";